@import url(https://fonts.googleapis.com/css?family=Denk+One);

body {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #ada0ff;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#game-intro {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-content: space-around;
  height: 100vh;
  overflow: hidden;
}

#game-intro-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

#intro-image img {
  height: 700px;
  width: 100%;
  padding: 0px 40px 0px 0px;
}

#intro-text {
  text-align: center;
}

#intro-text h1 {
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-family: "Denk One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 6rem;
  text-align: center;
}

#intro-text h2 {
  padding: 0 0px 40px 0;
  color: black;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: "Denk One", sans-serif;
  letter-spacing: 2px;
  font-size: 1.8rem;
  text-align: center;
}

button {
  font-size: 30px;
  background-color: greenyellow;
  color: purple;
  padding: 20px 40px;
  border: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: "Denk One", sans-serif;
  letter-spacing: 0px;
  font-size: 2rem;
  border-radius: 45px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  user-select: none;
}

button:hover {
  background-color: rgb(201, 248, 186);
  cursor: pointer;
}

button:active {
  background-color: rgb(11, 186, 11);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
#footer li {
  list-style: none;
  padding: 0;
  margin: 0px 0px 0px 0px;
  color: black;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: "Denk One", sans-serif;
  letter-spacing: 1px;
  font-size: 0.8rem;
  text-align: center;
}

#sound-img {
  display: absolute;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 10px;
}

#game-container {
  width: 100vw;
  padding: 0;
  margin: 0;
  display: none;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}

#stats {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 100vw;
}

#stats ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#stats li {
  list-style: none;
  padding: 0 80px 0px 80px;
  color: black;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: "Denk One", sans-serif;
  letter-spacing: 2px;
  font-size: 2rem;
}

#game-screen {
  display: none;
  padding: 0px 0px;
  overflow: hidden;
  background-color: #ada0ff;
  background-size: cover;
  z-index: -1;
}

#game-end {
  display: none;
  position: fixed;
  top: 5%;
  left: auto;
  z-index: 10;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 30px;
  margin: 20px;
}

#game-end h1 {
  margin: 10px;
  padding: 0;
  color: black;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-family: "Denk One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 6rem;
  text-align: center;
}

#game-end h2 {
  margin: 0px 0 0px 0;
  padding: 0px;
  color: purple;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-family: "Denk One", sans-serif;
  letter-spacing: 2px;
  font-size: 2rem;
  text-align: center;
  line-height: 4rem;
}

#game-end h3 {
  padding: 0;
  margin: 30px 0 0 0;
  color: black;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: "Denk One", sans-serif;
  letter-spacing: 2px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.8rem;
}
#game-end p {
  padding: 0;
  margin: 30px 0 60px 0;
  color: black;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: "Denk One", sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 800;
  line-height: 1.6rem;
}

#your-score {
  font-size: 4rem;
  font-weight: bold;
}

@media (max-width: 800px) {
  /* Hide the zombie background image in the introduction section */
  #intro-image img {
    display: none;
  }

  /* Give some space around the text */
  #game-intro-main {
    padding: 40px 0 40px 0;
  }

  /* Adjust the main title and subtitle font sizes for smaller screens */
  #intro-text h1 {
    margin: 40px 0;

    font-size: 4rem; /* Smaller font size for the game title */
  }

  #intro-text h2 {
    margin: 20px 0;
    font-size: 1.4rem; /* Smaller font size for the game subtitle */
  }

  /* Adjust button size for easier interaction on touch devices */
  button {
    font-size: 1.5rem; /* Smaller font size for text on buttons */
    padding: 15px 30px; /* Adjust padding to make the button smaller */
  }

  /* Footer on vertical */
  #footer ul {
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Adjust footer text for better readability */
  #footer li {
    padding: 0;
    margin: 0 0 15px -10px; /* Adjust margins to fit small screens */
    font-size: 0.7rem; /* Adjust font size for small screens */
  }

  /* Adapt the stats display for small screens */
  #stats li {
    padding: 0 20px; /* Reduce padding for each stat item */
    font-size: 1.5rem; /* Smaller font size for stats */
  }

  #game-end h1 {
    font-size: 3rem;
    text-align: center;
  }
}
